@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url("./fonts/Roboto/Roboto-Bold.ttf") format("ttf");
  }
  @font-face {
    font-family: Poppins;
    font-weight: 700;
    src: url("./fonts/Poppins/Poppins-Bold.ttf") format("ttf");
  }
}
